<table>
  <tr>
    <th>
      帐号
    </th>
    <th>
      超级用户
    </th>
    <th>

    </th>
    <th>

    </th>
  </tr>
  <% users.forEach(function(user){ %>
    <tr>
      <td>
        <%= user.Name %>
      </td>
      <td>
        <%= user.isSuper %>
      </td>
      <td>
        <a href="/user/update/<%=user.Name%>" >修改</a>
      </td>
      <td>
        <a href="/user/delete/<%=user.Name%>" onclick="if(!confirm('删除后不可恢复,确定删除纪录吗?'))return false;">删除</a>
      </td>
    </tr>
  <% }) %>
</table>
<br>
<a href="/user/create">创建用户</a>
