<form class="" action="/func/edit" method="post">
  <input type="hidden" name="id" value="<%= func.id %>">
  <% include _form.ejs %>
  <input type="submit"  value="修改">
</form>
<br>

<a href="/func">返回</a>
