<table>
  <tr>
    <th>
      角色名
    </th>
    <th>
      说明
    </th>
    <th>

    </th>
    <th>

    </th>
  </tr>
  <% roles.forEach(function(role){ %>
    <tr>
      <td>
        <%= role.Name %>
      </td>
      <td>
        <%= role.Desc %>
      </td>
      <td>
        <a href="/role/update/<%=role._id%>" >修改</a>
      </td>
      <td>
        <a href="/role/delete/<%=role._id%>" onclick="if(!confirm('删除后不可恢复,确定删除纪录吗?'))return false;">删除</a>
      </td>
    </tr>
  <% }) %>
</table>
<br>
<a href="/role/new">创建用户</a>
